.modal-custom {
  max-width: 100vw;
  width: 1200px;
  min-width: 90vw;
  justify-self: center;
  margin: 0 auto;
  vertical-align: bottom;
  .nextui-backdrop-content {
    max-width: 1200px !important;
  }
  @media screen and (max-width: 1281px) {
    max-height: 98vh;
    max-width: 100vw;
    top: -1vh;
    left: 0;
    padding: 0;
    margin: 0;
  }
}

.title-modal-filter {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #191919;
  margin-bottom: 0;

  @media screen and (min-width: 1820px) {
    font-size: 24px;
    line-height: 29px;
  }
}

.subtitle-modal-filter {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.01em;
  color: #57585c;
  @media screen and (min-width: 1820px) {
    font-size: 16px;
    line-height: 19px;
  }
}
