.swal2-styled.swal2-confirm {
  background-color: #e0102c !important;
  border-radius: 8px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}
